.btn-color-theme {
  background-color: #e2d4f0;
  border-radius: 12px;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border: none;
}

.btn:hover {
  background-color: #7126b5;
}
