.card {
  height: 198px;
  width: 181.3333282470703px;
  left: 0px;
  top: 0px;
  border-radius: 4px;
  padding: 8px, 8px, 16px, 8px;
  background-color: #ffffff;
}

.card-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.card-text {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #8a8a8a;
}

.card-price {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
