.btn-color-theme {
  border-radius: 12px;
  padding: 16px 24px 16px 24px;
  align-items: center;
  background-color: #7126b5;
  border: none;
  text-decoration: none;
  display: inline-block;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}
