* {
  font-family: "Poppins";
}

.form-control {
  border-radius: 0.7rem;
}

.text-primary > b {
  color: #7126b5;
}

.product-image-wrapper {
  display: flex;
  gap: 1em;
}

.product-images {
  width: 80px;
  height: 80px;
  padding: 0.2em;
  cursor: pointer;
  position: relative;
}

.product-images:hover {
  transform: scale(1.2);
}

.product-images::after {
  content: "X";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
}

.product-images:hover::after {
  color: black;
  background-color: rgba(255, 255, 255, 0.2);
}

.product-images > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
