.img-responsive {
  background-size: cover;
  margin-left: 0%;
}

.App {
  max-height: 100vh;
  overflow: hidden;
}

.form-register {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-register > form {
  width: 80%;
}

.form-register > form > h2 {
  font-size: 1.5rem;
}

.form-register > form label {
  font-size: 0.75rem;
}

.form-register > form input,
.form-register > form button:not([data-dismiss="alert"]),
.form-register > form .cta {
  font-size: 0.875rem;
}

.form-register > form .cta > a {
  color: #7126b5;
  font-weight: 700;
}

.brand {
  color: #ffffff;
  font-weight: 700;
  position: absolute;
  top: 35%;
  left: 2em;
  transform: translateY(-50%);
  z-index: 2;
}

.active {
  display: block;
}
